/*Main Stylesheet*/

/*Imports*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

/*Vars*/
@imglogo: url(../img/logo_black.png);
@webfont: 'Lato', sans-serif;
@fontTitle: 'Josefin Slab', serif;
@colorLink: #222;
@colorLinkHover: #666;
@bgImageIntro: url(../img/bglennon.png);
@bgImageDev: url(../img/rasp.png);
@bgImagePhoto: url(../img/bglight.png);

/*Style Structure*/
html {
    min-height: 100%;
    height:100%;
    font-family: @fontTitle;
    padding: 0px;
    margin: 0px;
}

body {
    min-height:100%;
    height: 100%;
    /*text format*/
    font-family: @webfont;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    text-rendering: optimizeLegibility;
    color:white;
}


h1, h2, h3 {
    font-family: @fontTitle;
}

.apice {
    vertical-align:super;
}

.row {
    margin:0px;
}


#intro {
    height:100%;
    margin:0px;
    background: @bgImageIntro no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}


#things, #quotation, #contacts {
    background:#000000;
    margin:0px;
}

#development {
    margin:0px;
    height:70%;
    background: @bgImageDev no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#photography {
    margin:0px;
    height:70%;
    background: @bgImageIntro no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#footer {
    background:green;
    margin:0px;
}

#introtesto, #devtesto, #phototesto {
        background: rgba(27,27,27,0.7);
}
