@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
/*Main Stylesheet*/
/*Imports*/
/*Vars*/
/*Style Structure*/
html {
  min-height: 100%;
  font-family: 'Josefin Slab', serif;
  padding: 0px;
  margin: 0px;
}
html body {
  height: 100%;
  /*text format*/
  font-family: 'Lato', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  text-rendering: optimizeLegibility;
}
.apice {
  vertical-align: super;
}
#intro {
  height: 100%;
  width: 100%;
  margin: 0px;
  background: url(../img/intro.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#things {
  background: blue;
  margin: 0px;
}
#development {
  background: green;
  margin: 0px;
}
#quotation {
  background: blue;
  margin: 0px;
}
#photography {
  background: green;
  margin: 0px;
}
#contacts {
  background: blue;
  margin: 0px;
}
#footer {
  background: green;
  margin: 0px;
}
