/*Main Stylesheet*/

/*Imports*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);

/*Vars*/
@imglogo: url(../img/logo_black.png);
@webfont: 'Lato', sans-serif;
@fontTitle: 'Josefin Slab', serif;
@colorLink: #222;
@colorLinkHover: #666;
@bgImageIntro: url(../img/intro.png);
@bgImageDev: url(../img/rasp.png);

/*Style Structure*/
html {
    min-height: 100%;
    font-family: @fontTitle;
    padding: 0px;
    margin: 0px;

    body {
        position:relative;
	    min-height: 100%;
        /*text format*/
        font-family: @webfont;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
        text-rendering: optimizeLegibility;
    }
}

.apice {
    vertical-align:super;
}

#intro {
    background:green;
    margin-left:0px;
    margin-right:0px;
}

#things {
    background:blue;
    margin-left:0px;
    margin-right:0px;
}

#development {
    background:green;
    margin-left:0px;
    margin-right:0px;
}

#quotation {
    background: blue;
    margin-left:0px;
    margin-right:0px;
}

#photography {
    background: green;
    margin-left:0px;
    margin-right:0px;
}

#contacts {
    background: blue;
    margin-left:0px;
    margin-right:0px;
}

#footer {
    background:green;
    margin-left:0px;
    margin-right:0px;
}
