@-webkit-keyframes combat {
  0%,
  10% {
    width: 60%;
  }
  15%,
  30% {
    width: 70%;
  }
  35%,
  50% {
    width: 57%;
  }
  55%,
  70% {
    width: 51%;
  }
  75%,
  90% {
    width: 69%;
  }
  95%,
  100% {
    width: 60%;
  }
}
@keyframes combat {
  0%,
  10% {
    width: 60%;
  }
  15%,
  30% {
    width: 70%;
  }
  35%,
  50% {
    width: 57%;
  }
  55%,
  70% {
    width: 51%;
  }
  75%,
  90% {
    width: 69%;
  }
  95%,
  100% {
    width: 60%;
  }
}
#rightback {
  z-index: 1;
  -webkit-animation-name: combat;
          animation-name: combat;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0.07, 0, 0.08);
          animation-timing-function: cubic-bezier(0.42, 0.07, 0, 0.08);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
