@keyframes combat {

    0% {
        width:60%
    }
    12% {
        width:60%
    }
    18% {
        width:70%
    }
    32% {
        width:70%
    }
    38% {
        width:57%
    }
    52% {
        width:57%
    }
    58% {
        width:51%
    }
    72% {
        width:51%
    }
    78% {
        width:64%
    }
    96% {
        width:64%
    }
    100% {
        width: 60%
    }
}



@keyframes bumpBlack {
    0% {
    //left: -15%;
    //top:-15%;
    }
    4% {
    //left: -2%;
    //top:-2%;
    //transform: scale(1.03);
    }
    8% {
        left: -5%;
        top:-5%;
        transform: scale(1);
    }
    12% {
        left: -5%;
        top:-5%;
    }
    12.5% {
        left: -6%;
        top:-4%;
    }
    13% {
        left: -4%;
        top:-6%;
    }
    13.5% {
        left: -6%;
        top:-4%;
    }
    14%{
        left: -4%;
        top:-6%;
    }
    14.5% {
        left: -6%;
        top:-4%;
    }
    15% {
        left: -4%;
        top:-6%;
    }
    15.5% {
        left: -6%;
        top:-4%;
    }
    16%{
        left:-4%;
        top:-6%;
    }
    16.5% {
        left: -6%;
        top:-4%;
    }
    17% {
        left: -4%;
        top:-6%;
    }
    17.5% {
        left: -6%;
        top:-4%;
    }
    18%{
        left: -4%;
        top:-6%;
    }
    18.5% {
        left: -6%;
        top:-4%;
    }
    19% {
        left: -4%;
        top:-6%;
    }
    19.5% {
        left: -6%;
        top:-4%;
    }
    20% {
        left: -5%;
        top:-5%;
    }
    26% {
        transform: scale(1);
        left: -5%;
        top:-5%;
    }
    32% {
        transform: scale(1.3);
        left: 3%;
        top:3%;
    }
    40% {
        left: -5%;
        top:-5%;
        transform: scale(1);
    }
    46% {
        transform: scale(1);
        left: -5%;
        top:-5%;
    }
    52% {
        transform: scale(1.3);
        left: 3%;
        top:3%;
    }
    60% {
        left: -5%;
        top:-5%;
        transform: scale(1);
    }
    72% {
        left: -5%;
        top:-5%;
    }
    72.5% {
        left: -6%;
        top:-4%;
    }
    73% {
        left: -4%;
        top:-6%;
    }
    73.5% {
        left: -6%;
        top:-4%;
    }
    74%{
        left: -4%;
        top:-6%;
    }
    74.5% {
        left: -6%;
        top:-4%;
    }
    75% {
        left: -4%;
        top:-6%;
    }
    75.5% {
        left: -6%;
        top:-4%;
    }
    76%{
        left:-4%;
        top:-6%;
    }
    76.5% {
        left: -6%;
        top:-4%;
    }
    77% {
        left: -4%;
        top:-6%;
    }
    77.5% {
        left: -6%;
        top:-4%;
    }
    78%{
        left: -4%;
        top:-6%;
    }
    78.5% {
        left: -6%;
        top:-4%;
    }
    79% {
        left: -4%;
        top:-6%;
    }
    79.5% {
        left: -6%;
        top:-4%;
    }
    80% {
        left: -5%;
        top: -5%;
    }
    86% {
        transform: scale(1);
        left: -5%;
        top:-5%;
    }
    92% {
        transform: scale(1.3);
        left: 3%;
        top:3%;
    }
    100% {
        left: -5%;
        top:-5%;
        transform: scale(1);
    }
}




@keyframes bumpWhite {
    0% {
    //transform: scale(1);
    //right: -15%;
    //bottom: -17%;

    }
    4% {
    //transform: scale(1.03);
    //right: -3%;
    //bottom: -5%;
    }
    8% {
        transform: scale(1);
        right: -5%;
        bottom: -7%;
    }
    12% {
        transform: scale(1.3);
        right: 3%;
        bottom: 1%;
    }
    20% {
        right: -5%;
        bottom: -7%;
        transform: scale(1);
    }
    32% {
        right: -5%;
        bottom: -7%;
    }
    32.5% {
        right: -4%;
        bottom: -8%;
    }
    33% {
        right: -6%;
        bottom: -5%;
    }
    33.5% {
        right: -4%;
        bottom: -8%;
    }
    34%{
        right: -6%;
        bottom: -5%;
    }
    34.5% {
        right: -4%;
        bottom: -8%;
    }
    35% {
        right: -6%;
        bottom: -5%;
    }
    35.5% {
        right: -4%;
        bottom: -8%;
    }
    36%{
        right: -6%;
        bottom: -5%;
    }
    36.5% {
        right: -4%;
        bottom: -8%;
    }
    37% {
        right: -6%;
        bottom: -5%;
    }
    37.5% {
        right: -4%;
        bottom: -8%;
    }
    38%{
        right: -6%;
        bottom: -5%;
    }
    38.5% {
        right: -4%;
        bottom: -8%;
    }
    39% {
        right: -6%;
        bottom: -5%;
    }
    39.5% {
        right: -4%;
        bottom: -8%;
    }
    40% {
        right: -5%;
        bottom: -7%;
    }
    52% {
        right: -5%;
        bottom: -7%;
    }
    52.5% {
        right: -4%;
        bottom: -8%;
    }
    53% {
        right: -6%;
        bottom: -5%;
    }
    53.5% {
        right: -4%;
        bottom: -8%;
    }
    54%{
        right: -6%;
        bottom: -5%;
    }
    54.5% {
        right: -4%;
        bottom: -8%;
    }
    55% {
        right: -6%;
        bottom: -5%;
    }
    55.5% {
        right: -4%;
        bottom: -8%;
    }
    56%{
        right: -6%;
        bottom: -5%;
    }
    56.5% {
        right: -4%;
        bottom: -8%;
    }
    57% {
        right: -6%;
        bottom: -5%;
    }
    57.5% {
        right: -4%;
        bottom: -8%;
    }
    58%{
        right: -6%;
        bottom: -5%;
    }
    58.5% {
        right: -4%;
        bottom: -8%;
    }
    59% {
        right: -6%;
        bottom: -5%;
    }
    59.5% {
        right: -4%;
        bottom: -8%;
    }
    60% {
        right: -5%;
        bottom: -7%;
    }
    66% {
        transform: scale(1);
        right: -5%;
        bottom: -7%;
    }
    72% {
        right: 3%;
        bottom: 1%;
        transform: scale(1.3);
    }
    80% {
        right: -5%;
        bottom: -7%;
        transform: scale(1);
    }
    92% {
        right: -5%;
        bottom: -7%;
    }
    92.5% {
        right: -4%;
        bottom: -8%;
    }
    93% {
        right: -6%;
        bottom: -5%;
    }
    93.5% {
        right: -4%;
        bottom: -8%;
    }
    94%{
        right: -6%;
        bottom: -5%;
    }
    94.5% {
        right: -4%;
        bottom: -8%;
    }
    95% {
        right: -6%;
        bottom: -5%;
    }
    95.5% {
        right: -4%;
        bottom: -8%;
    }
    96%{
        right: -6%;
        bottom: -5%;
    }
    96.5% {
        right: -4%;
        bottom: -8%;
    }
    97% {
        right: -6%;
        bottom: -5%;
    }
    97.5% {
        right: -4%;
        bottom: -8%;
    }
    98%{
        right: -6%;
        bottom: -5%;
    }
    98.5% {
        right: -4%;
        bottom: -8%;
    }
    99% {
        right: -6%;
        bottom: -5%;
    }
    99.5% {
        right: -4%;
        bottom: -8%;
    }
    100% {
        right: -5%;
        bottom: -7%;
    }
}